html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  background: var(--bg-white-dark);
 // color: var(--fnt-primary-color);
}
.button-secondary{
	color:black !important;
	margin:1rem !important;
	&:hover{
		background-color:inherit !important;
	}
}