.MuiTableContainer-root {
  padding: 2rem;
}
.MuiTable-root {
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
}
.MuiTableHead-root {
  background-color: lightgray;
  font-weight: 700;
}
.MuiTableCell-root{
	text-align: center !important;
}

.calories-Sum {
  margin-top: 10px;
  text-align: right;
  span {
    background-color: var(--main-orange);
    padding: 5px;
    margin-right: 2px;
    border-radius: 5px;
    color: white !important;
  }
}