.MuiTable-root {
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
}
.MuiTableHead-root {
  background-color: lightgray;
  font-weight: 700;
}
.MuiTableCell-root{
	text-align: center !important;
}

.table-panel {
  margin-top: 10px;
  .calories-Sum {
    background-color: var(--main-orange);
    padding: 5px;
    margin-right: 2px;
    border-radius: 5px;
    color: white;
    float: right;
  }
  .add-button {
    width: 3vh;
    height: 3vh;
    border-radius: 5px;
    border: "1px solid";
    color: white;
    float: left;
  }
}