.card {
  width: 100vh;
  .expanded-content {
    line-height: 20px;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    .cooking-time {
      display: flex;
      float: right;
      align-items: center;
    }
  }
  .MuiRating-root {
    background-color: red($color: #000000);
  }
}