.create-recipe-card{
  .css-m5vj9m-MuiStepper-root{
    padding-top: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 5vh;
  }
  .box-step {
    margin: 1vh;
  }
}
.create-recipe-step-content{
  margin: 10px;
  display: flex;
}